.welcome-page {
    width: 100%;
    min-height: 100vh;
    background-color: #3D348B;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button-ctn {
    width: 100%;
    min-height: 40vh;

    background-color: #E0E2DB;
    border-radius: 20px 20px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-ctn input {
    appearance: none;
    background-color: #E0E2DB;
    border: none;
    border-bottom: 1px solid #E6AF2E;
    margin: 2% 0;
}

.button-ctn input:focus {
    border: none;
    border-bottom: 1px solid #E6AF2E;
}

.button {
    width: 75%;
    min-height: 8vh;
    margin: 3% 0;
    background-color: #E6AF2E;
    border-radius: 20px;
    text-align: center;
    line-height: 8vh;
}

.change-action {
    font-size: 16px;
    text-decoration: underline;
}